/* 2xl */
@media (max-width: 1536px) {
    
}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

    .help-content{
        width: 90%;
    }

    .complaint-form-section{
        width: 70%;
        margin-right: 100px;
    }

}

/* md */
@media (max-width: 768px) {

}
   
/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {
    
}
